{{#modal-dialog
    close="close"
    targetAttachment="center"
    translucentOverlay=true}}

  {{#each tickets as |ticket|}}
    <div>
      <button class="ui button {{if ticket.isActive 'active'}}" {{action (toggle 'isActive' ticket)}}>
        {{ticket.name}} {{ticket.price}}
      </button>
      {{#if ticket.isActive}}
        How much: {{input min="0" type='number' value=ticket.count}}
      {{/if}}
    </div>
  {{/each}}

  {{#modal-ticket as |openModal|}}
    <button {{action openModal}} class="ui button">
      Or add new ticket
    </button>
  {{/modal-ticket}}

  <button {{action 'submit'}} disabled={{not canSendOrder}} class="ui button">
    Send order
  </button>

{{/modal-dialog}}
