{{#modal-dialog
    close="close"
    targetAttachment="center"
    translucentOverlay=true
    container-class="big"}}

  <h1>{{item.name}}</h1>
  <div class="ui two column grid">
    {{#each tickets as |ticket|}}
      <div class="order column">
        <button class="ui fluid {{ticket.color}} button {{if ticket.isActive 'active'}}" {{action (toggle 'isActive' ticket)}}>
          <i class="icon {{if ticket.isActive 'remove' 'checkmark'}}"></i> {{ticket.name}}
        </button>
      </div>
      <div class="order column">
        {{#if ticket.isActive}}
          <div class="ui fluid input">
            {{input min="0" class="ui input" type='number' value=ticket.count autofocus=true}}
          </div>
        {{/if}}
      </div>
    {{/each}}
    <div class="column">
      {{#modal-ticket as |openModal|}}
        <button {{action openModal}} class="ui black button">
          <i class="icon add user"></i> Přidat lístek
        </button>
      {{/modal-ticket}}
    </div>
    <div class="right aligned column">
      <button class="ui secondary button" {{action 'submit'}} disabled={{not canSendOrder}}>
        Pokračovat <br> v objednávání
      </button>
      <button class="ui primary button" {{action 'finish'}} disabled={{not canSendOrder}}>
        Dokončit objednávku <br> a donést na stůl
      </button>
    </div>
  </div>
{{/modal-dialog}}
