{{#modal-dialog
    close="close"
    targetAttachment="center"
    translucentOverlay=true
    container-class="big"}}

  <h1>{{item.name}}</h1>
  <div class="ui two column grid">
    {{#each tickets as |ticket|}}
      <div class="order column">
        <button class="ui {{ticket.color}} fluid button {{if ticket.isActive 'active'}}" {{action (toggle 'isActive' ticket)}}>
          {{ticket.name}}
        </button>

      </div>
      <div class="order column">
        {{#if ticket.isActive}}
          <div class="ui fluid input">
            {{input min="0" class="ui input" type='number' value=ticket.count}}
          </div>
        {{/if}}
      </div>
    {{/each}}
    <div class="column">
      {{#modal-ticket as |openModal|}}
        <button {{action openModal}} class="ui black button">
          Or add new ticket
        </button>
      {{/modal-ticket}}
    </div>
    <div class="right aligned column">
      <button class="ui primary button" {{action 'submit'}} disabled={{not canSendOrder}}>
        Send order
      </button>
    </div>
  </div>




{{/modal-dialog}}
