<div class="column">
  {{#link-to 'menu' class="ui fluid inverted button large"}}
    <i class="browser icon"></i> Menu
  {{/link-to}}
</div>
<div class="column">
  {{#modal-waitress as |openModal isDisabled|}}
    <button class="ui fluid inverted button large" {{action openModal}} disabled={{isDisabled}}>
      <i class="icon alarm outline"></i> Přivolat obsluhu
    </button>
  {{/modal-waitress}}
</div>
<div class="column">
  {{#link-to 'tickets' class="ui fluid inverted button large"}}
    <i class="icon users"></i> Účty
  {{/link-to}}
</div>
{{#if orderService.currentOrderPrice}}
  {{#order-view as |order|}}
    <div class="column">
      <button class="ui fluid inverted button huge orange" {{action order}}>
        <i class="external share icon"></i> Dokončit objednávku ({{money orderService.currentOrderPrice}}) <br> a donést na stůl
      </button>
    </div>
  {{/order-view}}
{{else}}
  <div class="column">
    {{link-to ' Zaplatit' 'payment' class="ui fluid inverted button large" disabled=(eq tickets.length 0)}}
  </div>
{{/if}}
