<h2>Správa účtů</h2>
{{#modal-ticket as |openModal|}}
  <button {{action openModal}} class="ui black button"> Vytvořit osobní účet</button>
{{/modal-ticket}}
<table class="ui celled table">
  <thead>
  <tr>
    <th>Název účtu</th>
    <th>Cena</th>
    <th class="collapsing">Akce</th>
  </tr>
  </thead>
  <tbody>
  {{#each tickets as |ticket|}}
    <tr>
      <td>{{ticket.name}}</td>
      <td>{{money ticket.price}}</td>
      <td>
        <div class="ui buttons">
          <button class="ui {{ticket.color}} button" {{action 'updateTicket' ticket}}>Upravit</button>
          <div class="or" data-text=""></div>
          <button class="ui red {{unless ticket.price 0 'disabled'}} button" {{action 'delete' ticket}}>Smazat</button>
        </div>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    <h2>Upravit účet</h2>
    <div class="ui fluid action input">
      {{input value=name class="item-150"}}
      <button class="ui black button" {{action 'submitUpdate' name}} disabled={{not canUpdateTicket}} >Změnit</button>
    </div>
  {{/modal-dialog}}
{{/if}}
