
<div>
  {{link-to 'Nealkoholické nápoje' 'menu.items' 'non-alcoholic-drinks' class='btn btn-info'}}
 {{link-to 'Pivo' 'menu.items' 'beer-drinks' class='btn btn-info'}}
 {{link-to 'Víno' 'menu.items' 'vine-drinks' class='btn btn-info'}}
 {{link-to 'Teplé nápoje' 'menu.items' 'hot-drinks' class='btn btn-info'}}
  {{link-to 'Destiláty' 'menu.items' 'alcoholic-drinks' class='btn btn-info'}}
</div>

