<h2>K zaplacení</h2>

{{#each model as |ticket|}}
  <div>{{ticket.name}}</div>
  <ul>
    {{#each ticket.items as |item|}}
      <li>{{item.name}}</li>
    {{/each}}
  </ul>
  {{#if (gt ticket.items 0)}}
    <button {{action 'pay' ticket}}>Zaplatit</button>
  {{else}}
    <button {{action 'destroy' ticket}}>Zrušit</button>
  {{/if}}
{{/each}}

{{#if isPayModalVisible}}
  {{modal-pay model=ticket}}
{{/if}}
