<h2>K zaplacení</h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Název účtu</th>
      <th>Položka</th>
      <th>Cena</th>
    </tr>
  </thead>
  <tbody>
    {{#each (reject-by "price" 0 model) as |ticket|}}
      <tr>
        <td colspan="3">
          <h3>{{ticket.name}}</h3>
        </td>
      </tr>
      {{#each ticket.ticketItems as |ticketItem|}}
        <tr>
          <td></td>
          <td>{{ticketItem.item.name}}</td>
          <td class="right aligned">{{ticketItem.count}} x {{money ticketItem.item.price}}</td>
        </tr>
      {{/each}}
      <tr>
        <td colspan="3" class="right aligned">
          <button class="ui positive button" {{action 'pay' ticket}}>Zaplatit {{money ticket.price}}</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if isPayModalVisible}}
  {{modal-pay model=ticket}}
{{/if}}
